# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_EPIC650ANSI

config ZMK_KEYBOARD_NAME
    default "epic650ansi"


config BT
    default y

CONFIG_BT_BAS
    default y

CONFIG_BT_MAX_CONN
    default 3

CONFIG_BT_MAX_PAIRED
    default 3

config CONFIG_ZMK_BLE
    default y


